Source: lib@obs.package.name@-java
Section: contrib/interpreters
Priority: optional
Maintainer: @project.developer.name@ <@project.developer.email@>
Build-Depends:
	debhelper (>=10),
	openjdk-17-jdk-headless,
	openjdk-17-doc,
	junit5,
	ant-optional,
	ivy-debian-helper,
	lsb-release
Vcs-Git: @project.scm.url@.git
Vcs-Browser: @project.scm.url@
Homepage: @project.scm.url@

Package: lib@obs.package.name@-java
Architecture: all
Depends:
	debhelper (>=10),
	openjdk-17-jre-headless,
Suggests: lib@obs.package.name@-java-doc
Description: @obs.package.summary@
	@obs.package.description@

Package: lib@obs.package.name@-java-doc
Architecture: all
Section: doc
Depends: debhelper (>=10),
Recommends:
	openjdk-17-doc,
Description: @obs.package.summary@
	This package contains documentation for lib@obs.package.name@-java.
